---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "main";

  .grid-item {
  	width: 50%;
  }

  div.grid-item {
  	display: grid;
  	grid-template-columns: repeat(6, 1fr);
  }

  div img {
  	display: block;
    width: 100%;
    box-sizing: border-box;
  }

  div {
  	background: white;
  	margin-bottom: 20px;

  }

  .grid {
    width: 100%;
    margin: 0 auto;
  }

  div p {
  	padding: 10px;
  	font-family: sans-serif;
  	color: #6B7C93;
  	font-size: .875em;
  	line-height: 1.4em;
  }

  /*.h5col {
  	grid-column:1/5;
  }

  .h3col{
  	grid-column:4/7;
  }

  .h4col{
  	grid-column:2/6;
  }*/

  /*.L{
  	justify-self: start;
  }

  .M {
  	justify-self:center;

  }

  .R {
  	justify-self: end;
  }*/

  @media (max-width: 400px) {
  	.grid-item {
  		width: 100%;
  	}
  	div img{
  		padding: 10px 5px;
  	}
  }
